[submodule "TwitVim"]
	path = TwitVim
	url = https://github.com/twitvim/twitvim.git
[submodule "vim-scala"]
	path = vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "mdk"]
	path = mdk
	url = https://github.com/flaviusb/mdk.git
[submodule "kotlin-vim"]
	path = kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic
